body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 600px;
  margin: 10 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 30px solid transparent;
  border-image: url('/static/BG.jpg') 30 round;
}

h1 {
  color: #333333;
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  display: block;
}

input[name="player_name"],
input[name="points"] {
  width: auto;
}

input[type="submit"] {
  background-color: violet;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 10px auto;
}

input[type="submit"]:hover {
  background-color: #8a2be2;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
}

.logo {
    margin-bottom: 1em;
}


input[type="radio"] {
    margin-right: 5px;
    vertical-align: middle;
}

input[type="radio"] + label {
    display: inline-block;
    margin: 0;
    padding: 10px;
    border: none;
    vertical-align: middle;
}

.points-input {
    display: inline-block;
    width: 40px;
    margin-left: 10px;
    vertical-align: middle;
}
