<!DOCTYPE html>
<html>
  <head>
    <title>ScoreKeeper</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container">

      <img class="logo" src="{{ url_for('static', filename='SCORE.jpg') }}" alt="ScoreKeeper Logo">

      <form action="/add_player" method="post">
        <input type="text" name="player_name" placeholder="       Player Name       " required maxlength="15" size="15">
        <input class="custom-button" type="submit" value="Add Player">
      </form>

      <form action="/add_points" method="post" onsubmit="return validateForm()">
        {% for player in players %}
            <input type="radio" name="player_name" value="{{ player['name'] }}" required>{{ player['name'] }}<br>
        {% endfor %}
        <input type="number" name="points" placeholder=" Points" required min="0" max="99" size="2">
        <input class="custom-button" type="submit" value="Add Points">
      </form>

      <ul>
        {% for player in players %}
        <li>{{ player['name'] }}: {{ player['points'] }}</li>
        {% endfor %}
      </ul>

      <form action="/reset_game" method="post">
        <input class="custom-button" type="submit" value="Reset Game">
      </form>

      <form action="/end_game" method="post">
        <input class="custom-button custom-button-danger" type="submit" value="End Game">
      </form>

    </div>

    <script>
        function validateForm() {
            var radios = document.querySelectorAll('input[type="radio"][name="player_name"]');

            if (radios.length === 0) {
                alert("Add a player first, you dingus >:(");
                return false;
            }

            return true;
        }
    </script>
  </body>
</html>
